<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="title">Práctica con Angular</h1>

  <div class="container">

    <div>
      <button class="button"><a routerLink="registro" class="link">Registro</a></button>
    </div>

  </div>

  <hr class="separator">
  <h2 class="title">Trabajando con Componentes</h2>
  <!-- <app-datos> </app-datos> -->

  <router-outlet></router-outlet>
</body>
</html>